backend:
  # name: git-gateway
  # branch: master
  name: test-repo
media_folder: "public/img/drops"
public_folder: "/img/drops"
collections:
  - name: "drop"
    label: "Upcoming Drops"
    folder: "content/drops"
    create: true
    slug: "{{slug}}"
    fields:
      - label: "Name"
        name: 'name'
        widget: 'string'
      - label: 'Description'
        name: 'description'
        widget: 'text'
      - label: 'Twitter URL'
        name: 'twitter'
        widget: 'string'
      - label: 'Discord URL'
        name: 'discord'
        widget: 'string'
      - label: 'Image'
        name: 'image'
        widget: 'image'
        allow_multiple: false
      - label: 'Mint Website'
        name: 'website'
        widget: 'string'
      - label: 'Mint date'
        name: 'date'
        widget: 'datetime'
        format: "MM-DD"
        dateFormat: "MM-DD"
        timeFormat: false
      - label: 'Mint price'
        name: 'price'
        widget: 'number'
        value_type: 'float'
